{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "chai": true
  },
  "extends": "airbnb",
  "rules": {
    "no-console": 0
  },
  "globals": {
    "expect": true
  }
}
