{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "> 5%"
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": true,
    }],
    "react",
    "airbnb"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
