{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": ["error", "always"],
    "comma-dangle": ["off"],
    "import/no-extraneous-dependencies": ["off", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}],
    "indent": ["error", "tab"],
    "max-len": ["off"],
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-tabs": ["off"],
    "no-unused-vars": ["warn"],
    "object-curly-spacing": ["off"],
    "one-var": ["off"],
    "padded-blocks": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "react/jsx-space-before-closing": ["off"],
    "react/prefer-stateless-function": ["off"],
    "no-underscore-dangle": [ "error", { "allowAfterThis": true }],
    "import/no-unresolved": ["error", {
        "ignore": [
          "config",
          "components/",
          "containers/",
          "stores/",
          "actions/",
          "sources/",
          "styles/",
          "images/"
        ]
    }]
  }
}
